{% extends 'base.html.twig' %}
{% block title %} Hacker News {% endblock %}

{% block body %}
<br>
<div class="container no-pad">
  {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
  {% endfor %}
</div>
<div class="container main-section border">
  <div class="row">
  <div class="col-lg-12 col-sm-12 col-12">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="text-primary">{{ post.getPostTitle() }}</h4>
        <p>
          {{ post.getPostBody() }}
        </p>
        <span class="upvote-count" id="upvote-{{ post.getId() }}">{{ post.getUpvotesCount() }}</span>&nbsp; <span class="upvote-count">Likes</span>&nbsp; <hr>
        <button class="btn btn-sm btn-default
        {% if(post.likedByCurrentUser(app.user.getId())) %}
        unlike
        {% else %}
        like
        {% endif %}
        " data-id="{{ post.getId() }}" data-userid="{{ app.user.getId() }}" data-postid="{{ post.getId() }}">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> &nbsp; Like
        </button>&nbsp;
      </div>
    </div>
    <div class="row post-detail">
      <div class="col-lg-12 col-sm-12 col-12">
          <ul class="list-inline">
            <li class="list-inline-item">
              <img src="https://cdn.pixabay.com/photo/2016/11/08/15/21/user-1808597_960_720.png" class="rounded-circle" width="20px"> <span>by</span> <span class="text-info">{{ post.getUser().getUserName() }}</span>
            </li>
            <li class="list-inline-item">
              <i class="fa fa-calendar" aria-hidden="true"></i> <span>{{ post.getPostedAt()|date('F jS \\a\\t g:ia') }}</span>
            </li>
            <li class="list-inline-item">
              <i class="fa fa-comment" aria-hidden="true"></i> <span class="text-info">{{ post.getCommentsCount }}</span>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
<hr>
<form action="{{ path('newcomment') }}" method="post" id="comment">
  <div class="form-group">
    <textarea class="form-control" name="comment" placeholder="Write a comment ..." rows="3"></textarea><br>
    <input type="text" hidden="" name="postid" value="{{ post.getId() }}">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
{% for comment in post.getComments() %}
<hr>
<div class="col-lg-12 col-sm-12 col-12">
  <div class="row">
    <div class="col-lg-12">
      <p>
        {{ comment.getCommentText() }}
      </p>
    </div>
  </div>
  <div class="row post-detail">
    <div class="col-lg-12 col-sm-12 col-12">
        <ul class="list-inline">
          <li class="list-inline-item">
            <img src="https://dummyimage.com/20x20/a8a1a8/0f0f12" class="rounded-circle" width="20px"> <span class="text-info">{{comment.getUser().getUsername()}}</span>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-calendar" aria-hidden="true"></i> <span>{{ comment.getPostedAt()|date('F jS \\a\\t g:ia') }}</span>
          </li>
        </ul>
    </div>
  </div>
</div>
{% endfor %}

</div>

<style>
body{
}
.main-section{
padding:15px;
background-color: #fff;
}
.list-inline-item{
border-right:1px solid black;
padding-right:6px;
line-height:0.4em;
}
.list-inline-item:last-child{
border:none;
}
.post-detail ul{
margin-top:15px;
}
</style>

{% endblock %}
